RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

<IfModule mod_headers.c>
    <FilesMatch "\.(ico|jpg|jpeg|png|gif)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>

# Serve correct MIME type for favicon
AddType image/x-icon .ico
AddType image/png .png

# Serve correct MIME type for webmanifest
AddType application/manifest+json .webmanifest
